<app-header></app-header>
<div class="d-flex ">
    <div class="card shadow bg-white rounded mt-5 mx-auto" style="width: 600px; height:530px; border-radius: 15px;">
        <img [src]="imagenUrl" style="width: 100%; height: 350px;">


        <div class="card-body text-center">
            <h3 class="card-title">{{comercioDetails.name}}</h3>
            <p class="card-text">
                <i class="bi bi-star-fill text-warning"></i> {{comercioDetails.rating}}
                <i class="bi bi-heart-fill text-danger"></i> {{comercioDetails.favoritoList.length}}
            </p>
            <button (click)="eliminarComercio()" type="button" class="btn btn-danger btn-lg">
                <i class="bi bi-trash-fill"></i> Eliminar
            </button>
        </div>
    </div>
    

    <div class="text-center mt-5  w-50 card shadow   bg-white rounded mx-auto" style="border-radius: 15px;height: 530px; ">
        <h4>Listado de productos</h4>
        <button type="button " class="btn btn-success mx-auto" style="width: 300px; border-radius: 30px;"
            (click)="addProducto()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-plus-square-fill me-4" viewBox="0 0 16 16">
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
            </svg>Añadir productos</button>
            <div class="row col-md-12 ms-5 " style="max-height: 450px; overflow-y: auto;">
                <div class="col-6 mt-5 " *ngFor="let p of producto; let i = index" (click)="verIngredientes(p)">
                  <div class="card shadow bg-white rounded" style="width: 18rem;">
                    <img [src]="imagenProducto[i]" class="mx-auto shadow"
                         style="width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px;" [alt]="p.name">
                    <div class="card-body text-center">
                      <h5 class="card-title">{{p.name}}</h5>
                      <h5 class="card-title">{{p.precio}}€</h5>
                      <button type="button " class="btn btn-info mx-auto w-100" style=" border-radius: 30px;"
                              (click)="editarproducto(p.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>Editar Producto
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              


    </div>
</div>