<app-header></app-header>
<div>


    <div class="w-25 mx-auto">
        <form class="d-flex" [formGroup]="viewVentas" (ngSubmit)="verVentas()">

            <div class="input-group mb-3">
                <span class="input-group-text" id="fecha">Fecha</span>
                <input type="date" class="form-control" placeholder="Fecha" aria-label="fecha"
                    aria-describedby="basic-addon1" formControlName="fecha">
            </div>
            <button type="submit" style="height: 40px;" class="btn btn-primary">Enviar</button>
        </form>




    </div>
    <div class="d-flex mx-auto w-100 ">
        <div class="card shadow p-3 mb-5 bg-white rounded w-100" style="width: 20rem; height: 10rem;">
            <div class="card-body">
                <h5 class="card-title ">Total ventas hoy:</h5>
                <h1>{{ventas.total}}€</h1>

            </div>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded w-100" style="width: 20rem; height: 100%">
            <div class="card-body">
                <h5 class="card-title">Ultimos prodcutos vendidos:</h5>
                <h4 *ngFor="let venta of productos">-{{venta.name}}</h4>

            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded w-100" style="width: 20rem; height: 100%">
            <div class="card-body">
                <h5 class="card-title">Ultimos usuarios que han comprado:</h5>
                <h4 *ngFor="let venta of usuarios">-{{venta.name}}</h4>

            </div>
        </div>

        <div class="card shadow  mb-5 bg-white w-100" style="width: 20rem; ">
            <div class=" card-body ">
                <h5 class=" card-title">Comercios con mas likes</h5>
                <div style=" width: 13rem; max-height: 15rem; overflow-y: auto;">
                    <div *ngFor="let c of comercio ">
                        <div class="card shadow me-5  bg-white rounded" style="width: 11rem; border-radius: 15px;">
                            <img [src]="c.imagen" class="card-img-top img-fluid  " style="width: 100%; " [alt]="c.name">
                            <div class="d-flex">
                                <div class="card-body text-start">
                                    <h6 class="card-title">{{c.name}}</h6>
                                </div>
                                <div class=" text-start mt-3 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                    </svg>{{c.favoritoList.length}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>