<app-header></app-header>
<div class="div mx-auto mt-4 " style="width: 50%; height: 300px; border-radius: 15px;">
  <form [formGroup]="profileLogin" (ngSubmit)="login()">
    <div class="mb-3 mx-auto w-75">
      <label for="emailLog" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailLog" aria-describedby="emailHelp" formControlName="email">


    </div>
    <div class="mb-3 mx-auto w-75">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <div class="mb-3 mx-auto w-50">
      <button type="submit " class="btn btn-primary  w-100">Submit</button>
    </div>

  </form>
</div>