<app-header></app-header>>
  <div class="d-flex">
    <app-home-page-administrador></app-home-page-administrador>
  
    <div class="container ms-5 mt-5 ">
      <h4 class="text-center">Listado de comercios</h4>
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input #searchBox type="text" class="form-control" style="border-radius: 30px;" placeholder="Buscar un comercio" >
             
             
            </div>
          </div>
        </div>
        
        
        
      </div>
      
      <div class="row">
      
  
      <div class="row">
        <div class="col-md-12 ms-5">
          <div class="row" style="max-height: 600px; overflow-y: auto;">
            <div class="container"  
            >
              <table class="table" >
                <thead>
                  <tr>
                    <th>Foto de Perfil</th>
                    <th>Correo Electrónico</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody *ngFor="let usuarios of usuario">
                  <tr >
                    <td><img [src]="usuarios.fotoUrl" class="img-thumbnail" width="50" height="50"></td>
                    <td>{{usuarios.email}}</td>
                    <td>{{usuarios.name}}</td>
                    <td>{{usuarios.phoneNumber}}</td>
                    <td><button class="btn btn-danger" (click)="eliminarUsuario()"><i class="fa fa-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>