<app-header></app-header>
<div class="mx-auto w-50 card shadow   bg-white rounded mt-5">
  <form [formGroup]="crearComercio" (ngSubmit)="add()">
    
    <div class="mb-3 w-50 mx-auto">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Introduce el nombre del producto">
    </div>
    
    <div class="mb-3 w-50 mx-auto ">
      <label for="imagen" class="form-label">Imagen</label>
      <input type="file" class="form-control w-50 mx-auto" id="imagen" #imagen>
    </div>
    <button type="submit" class="btn btn-primary mx-auto w-100">Enviar</button>
  </form>
</div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3 w-75 mx-auto">
    {{ errorMessage }}
  </div>