<app-header></app-header>





<h4 class="text-center">Listado de comercios</h4>


<app-maps></app-maps>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input #searchBox type="text" class="form-control" style="border-radius: 30px;" placeholder="Buscar un comercio"
          (keyup)="onKeyUp($event)">
        <div class="mt-1 ms-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg></div>


      </div>

    </div>
  </div>




</div>


<div class="d-flex flex-wrap justify-content-center">
  <button (click)="cargarTodosLosComercios()" type="button" class="btn m-2 shadow bg-white rounded" style="border-radius: 20px;">
    Todos
  </button>
  <button (click)="filtradoComercio(categoria)" *ngFor="let categoria of categorias" type="button" class="btn m-2  shadow   bg-white rounded" style=" border-radius: 20px;">
    {{categoria}}
  </button>
</div>
<div class="mt-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="paginaActual === 0">
        <a class="page-link" (click)="paginaAnterior()">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i === paginaActual">
        <a class="page-link" (click)="cargarComercios(i)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === totalPages - 1">
        <a class="page-link" (click)="paginaSiguiente()">Next</a>
      </li>
    </ul>
  </nav>
  
  
</div>



<div class="row ">


  <div class="row mx-auto justify-content-center text-center">
    <div class="col-md-12  mx-auto justify-content-center text-center ms-3">
      <div class="row" style="max-height: 600px; ">
        <app-comercio-item class="col-3 mt-5" style="position: static;" *ngFor="let m of results" [comercio]="m"
          (comercioClick)="comercioClickLista($event)"></app-comercio-item>

      </div>
    </div>
  </div>



</div>